
<header class="site-header " role="banner">
	
		<div class="logo">
			{% if site.main_image %}
				<img src="/images/{{ site.main_image }}" alt="" class="img-circle">
			{% else %}
			<img src="//placehold.it/150x150" alt="" class="img-circle" />
			{% endif %}
			<a class="site-title" href="{{ "/" | relative_url}}">{{ site.title | escape }}</a>
			{% if site.tagline %}
			<hr />
			<span>{{ site.tagline | escape }}</span>
			{% endif %}
		</div>
		
		<div class="bottom">
			<ul class="social-media-list">
	          {% if site.github_username %}
	          <li>
	            {% include icon-github.html username=site.github_username %}
	          </li>
	          {% endif %}

	          {% if site.twitter_username %}
	          <li>
	            {% include icon-twitter.html username=site.twitter_username %}
	          </li>
	          {% endif %}

	          {% if site.facebook_username %}
	          <li>
	            {% include icon-facebook.html username=site.facebook_username %}
	          </li>
	          {% endif %}

	          {% if site.instagram_username %}
	          <li>
	            {% include icon-instagram.html username=site.instagram_username %}
	          </li>
	          {% endif %}

	          {% if site.pinterest_username %}
	          <li>
	            {% include icon-pinterest.html username=site.pinterest_username %}
	          </li>
	          {% endif %}

	          {% if site.googleplus_username %}
	          <li>
	            {% include icon-googleplus.html username=site.googleplus_username %}
	          </li>
	          {% endif %}

	          {% if site.linkedin_username %}
	          <li>
	            {% include icon-linkedin.html username=site.linkedin_username %}
	          </li>
	          {% endif %}
	        </ul>  
		</div>
</header>

